/.attach_pid*
/.metadata/

### General ###
*.bak
**/.attach_pid*

### Maven ###
/target/
**/target/

### NPM ###
**/src/main/**/build/
**/src/test/**/build/

### IntelliJ IDEA ###
.idea/dataSources.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/libraries/
*.iws
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Desktop.ini
**/*Zone.Identifier
