@use '../../../FieldWithError/FieldWithError';

@import '../../../libs/DefaultPage/DefaultPage';

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  width: 90%;
}

.form th {
  width: 0;
  vertical-align: baseline;
  text-align: right;
  white-space: nowrap;
}

.form td {
  width: 100%;
}

.form td select {
  width: 100%;
}

.form-buttons {
  float: right;
  display: flex;
  flex-flow: row;
  width: fit-content;
}
