:root {
    --color-primary-100: #fdf3eb;
    --color-primary-200: #fce7d7;
    --color-primary-300: #fbdbc4;
    --color-primary-400: #f8c49d;
    --color-primary-500: #f5ac76;
    --color-primary-600: #f4a062;
    --color-primary-700: #f3954f;
    --color-primary-800: #f0781f;

    --color-secondary-100: #fef9ed;
    --color-secondary-200: #fdf4dc;
    --color-secondary-300: #fdefca;
    --color-secondary-400: #fbe5a7;
    --color-secondary-500: #fadb84;
    --color-secondary-600: #f9d673;
    --color-secondary-700: #f9d162;
    --color-secondary-800: #f7c331;

    --color-tertiary-100: #eef8f5;
    --color-tertiary-200: #def2eb;
    --color-tertiary-300: #cdece1;
    --color-tertiary-400: #acdfcd;
    --color-tertiary-500: #8bd2b9;
    --color-tertiary-600: #7bccaf;
    --color-tertiary-700: #6bc6a5;
    --color-tertiary-800: #47b78e;

    --color-accent-100: #e3ecf1;
    --color-accent-200: #c8d9e4;
    --color-accent-300: #adc6d7;
    --color-accent-400: #76a1bc;
    --color-accent-500: #407ba2;
    --color-accent-600: #256895;
    --color-accent-700: #0a5688;
    --color-accent-800: #074269;

    --color-neutral-0: #ffffff;
    --color-neutral-100: #f5f5f5;
    --color-neutral-150: #ececeb;
    --color-neutral-200: #e2e2e2;
    --color-neutral-250: #cfcfcf;
    --color-neutral-300: #bcbcbc;
    --color-neutral-350: #b3b3b2;
    --color-neutral-400: #aaaaa9;
    --color-neutral-450: #979796;
    --color-neutral-500: #848483;
    --color-neutral-550: #717179;
    --color-neutral-600: #4b4b4b;
    --color-neutral-650: #383838;
    --color-neutral-700: #252525;
    --color-neutral-750: #121212;
    --color-neutral-800: #000000;

    --color-info: var(--color-accent-700);
    --color-info-active: var(--color-accent-800);
    --color-success: var(--color-tertiary-700);
    --color-success-active: var(--color-tertiary-800);
    --color-warning: var(--color-secondary-700);
    --color-warning-active: var(--color-secondary-700);
    --color-error: #eb6060;
    --color-error-active: #b64a4a;
}
