@mixin left {
    text-align: left;
    float: left;
}

@mixin center {
    text-align: center;
    float: initial;
    margin-left: auto;
    margin-right: auto;
}

@mixin right {
    text-align: right;
    float: right;
}

@mixin top {
    align-items: initial;
}

@mixin middle {
    align-items: center;
}

@mixin bottom {
    align-items: flex-end;
}

.form-table {
    width: 90%;

    @include center();
}

.form-table th {
    width: 0;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
}

.form-table td {
    width: 100%;
    text-align: left;
}

.form-buttons {
    text-align: right;
    width: auto !important;
}

.form-buttons div {
    border: 1px solid black;
    background-color: lightgrey;
    margin-left: 10px;
    margin-right: 0px;
    padding: 2px 5px 2px 5px;
}

.delete-button {
    border-color: red !important;
    background-color: lightpink !important;
}

button {
    --button-bg-color: var(--color-neutral-200);
    --button-hover-bg-color: var(--color-neutral-250);
    --button-fg-color: var(--color-neutral-750);
    border-radius: 5px;
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    font-weight: 600;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

button.light {
    --button-bg-color: var(--color-neutral-0);
    --button-hover-bg-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-100);
}

button.light:hover {
    border: 1px solid var(--color-neutral-150);
}

button.primary {
    --button-bg-color: var(--color-primary-700);
    --button-hover-bg-color: var(--color-primary-800);
    --button-fg-color: var(--color-neutral-0);
}

button.info {
    --button-bg-color: var(--color-info);
    --button-hover-bg-color: var(--color-info-active);
    --button-fg-color: var(--color-neutral-0);
}

button.delete {
    --button-bg-color: var(--color-error);
    --button-hover-bg-color: var(--color-error-active);
    --button-fg-color: var(--color-neutral-0);
}

button.prev {

}

button.next {
    
}