body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 0;
}

#root, html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root, body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(243, 149, 79);
  color: white;
  font-weight: bolder;
  font-size: xxx-large;
  text-align: center;
}

.main {
  flex: auto;
}

.footer {
  background-color: rgb(243, 149, 79);
  color: white;
  text-align: center;
}
