@use '../color';

.page-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border: lightgrey solid;
  border-width: 0 0 1px 0;
  padding: 0.5em;
  gap: 1em;
}

.profile-icon {
  font-size: x-large;
}

.page-title {
  text-align: left;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
}

// Color the background white.
.ant-layout {
  background-color: white;
  color: rgba(0, 0, 0);
  height: 100%;

  .ant-layout-header {
    background-color: white;
    color: rgba(0, 0, 0);
  }

  .ant-layout-content {
    background-color: white;
    color: rgba(0, 0, 0);
  }

  .ant-layout-footer {
    background-color: white;
    margin-bottom: 48px;
    color: rgba(0, 0, 0);
  }

  .ant-layout-sider {
    background-color: white;
    color: rgba(0, 0, 0);
  }

  .ant-layout-sider-trigger {
    background-color: white;
    color: rgba(0, 0, 0);
  }
}

.ant-layout-sider.left-menu {
  box-shadow: 0 0 4px black;

  padding: 0;
  width: 100%;

  .ant-layout-header {
    flex-shrink: 1;
    line-height: 0;
    padding: 1em 1em 0.5em 1em !important;
    padding-inline: 0;
    height: auto;

    a {
      all: unset;
      width: 100%;

      img {
        display: block;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        max-height: 33px;
        max-width: 100%;
      }
    }
  }

  .ant-layout-content {
    flex-grow: 1;
  }

  .ant-layout-footer {
    flex-shrink: 1;
    padding: 0;
    text-align: left;
  }

  .ant-menu {
    height: 100%;
  }

  .ant-layout-sider-trigger {
    background: none;
    border: lightgrey solid;
    border-width: 1px 0 0 0;
    color: rgba(0, 0, 0, .88);
    padding-left: 1em;
    text-align: left;
  }
}
