header {
    background-color: var(--color-primary-600);
    color: white;
    padding: 1em;
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
        font-size: 32px;
        height: 100%;
    }

    .nav-link {
        font-weight: 600;
        font-size: 18px;
    }
}

.header-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    gap: 1em;

    &-left {
        justify-content: flex-start;
    }

    &-center {
        justify-content: center;
    }

    &-right {
        justify-content: flex-end;
    }

}

.header-title {
    gap: 0.5em;
}

#site-title {
    font-weight: 700;
    font-size: 32px;
}

main {
    flex: auto;
}

footer {
    background-color: var(--color-primary-600);
    color: white;
    text-align: center;
}
