.primary-section {
  background-color: var(--color-primary-600);
  margin: -1em;
  padding: 1em;
  color: var(--color-neutral-0);
  font-weight: 500;
  font-size: 1.5em;
}

.image-placeholder {
    background-color: #0000001f;
    display: grid;
    place-content: center;
    height: 20em;
    width: 30em;
}
