@use '../color';

@import "../index";

header {
  background-color: color.$primary-600;
  color: white;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  img {
    height: 2em;
  }
}

.header-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  gap: 5em;

  &-left {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;
  }
}

main {
  flex: auto;

}

footer {
  background-color: color.$primary-600;
  color: white;
  text-align: center;
}

.primary-section {
  background-color: color.$primary-600;
  padding: 2em 10% 2em 10%;
  color: color.$neutral-0;

  h1 {
    margin: 0;
  }

  .subheading {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    font-weight: bold;
  }

  .summary {
    margin-bottom: 2.5em;
    line-height: 125%;
  }

  img {
    padding-left: 5%;
    width: 45%;
  }
}

.details {
  margin: 0 10% 0 10%;
  display: flex;
  flex-flow: column;
  align-items: center;

  h2 {
    color: color.$primary-600;
  }

  img {
    width: 50%;
  }
}

.details-with-image {
  margin: 0 10% 0 10%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5em;

  div {}

  img {
    width: 40%;
  }

  h2 {
    color: color.$primary-600;
  }
}

.timeline-with-image {
  margin: 0 5% 0 5%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5em;


  div {
    width: 100%;
  }

  div img {
    width: 90%;
  }
}

