
.rotating-panel {
  display: flex;
}

.rotating-panel-contents {
  width: 100%;
}

.form-elements-panel {
  width: 100%;
}

.form-element {
  width:100%;
}

.loves-panel {
  @include center;
  @include top;
}

.world-needs-panel {
  @include right();
  @include middle();
}

.paid-for-panel {
  @include center();
  @include bottom();
}

.good-at-panel {
  @include left();
  @include middle();
}
