.card {
    border: 1px solid lightgray;
    padding: 2em;
    border-radius: 2em;

    img {
        width: 100%;
        max-width: 20em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.tiles {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

// main {
//     margin: 1em;
// }

.layout-header-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    /*! grid-template-rows: 1fr 1fr 1fr; */
    /*! grid-auto-flow: column; */

    header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    @media screen and (min-width: 50em) {
        grid-template-columns: 20em 1fr;

        .sidebar {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }
}

.site-header {
    position: sticky;
    top: 0;
}
