.spin-button {
  background-color: rgb(71, 183, 142);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  border-style: none;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
